html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("src/assets/images/background-2.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/*#background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assets/images/background 2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}*/

/*#game-container {
  border: 5px solid white;
  width: 80vw;
  max-width: 800px;
  height: 60vh;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: relative;
  overflow: hidden;
}*/

/*#game-area {
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
   background-color: transparent; /* Fond noir pour mieux voir les objets
 border: 2px solid green;  /*Bordure temporaire pour débogage 
}*/
#intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Assure que le bandeau est au-dessus des autres éléments */
}

#intro-content {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.9); /* Fond plus foncé pour le contenu */
  padding: 20px;
  border-radius: 10px;
}

#start-button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

#start-button:hover {
  color: #ffffff;
  background: #e3a0ec;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #008cff, 0 0 10px #008cff, 0 0 20px #008cff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}
#game-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.7%;
  height: 99.5%;
  z-index: 1; /* Assure que les objets tombants sont au-dessus */
  background-color: transparent;
  border: 10px solid rgb(23, 30, 159); /*Bordure temporaire pour débogage */
  overflow: hidden;
}
.falling-object,
.malus-object {
  position: absolute;
  width: 8vw;
  height: 8vw;
  max-width: 80px;
  max-height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /*border: 2px solid white;*/
  top: 0;
  /* Ajout pour gérer l'adaptation de l'image */
  object-fit: contain; /* Adaptation de l'image sans la tronquer */
}
.explosion {
  animation: explode 1s forwards;
}
@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
    background-color: transparent; /* Couleur de départ */
  }
  50% {
    transform: scale(1.5); /* Expansion */
    opacity: 0.7;
    background-color: red; /* Couleur d'explosion */
  }
  100% {
    transform: scale(0); /* Rétrécissement */
    opacity: 0;
    background-color: transparent; /* Couleur finale */
  }
}
h1 {
  text-align: center;
  margin-top: 0;
  font-size: 1.5em;
  color: rgb(200, 99, 247);
  position: fixed;
  top: 10px;
  width: 100%;
}

#score,
#level,
#lives-container {
  position: fixed;
  font-size: 1.2em;
  color: white;

  padding: 5px 10px;
}

#score {
  top: 5px;
  right: 20px;
  background-color: rgb(200, 99, 247);
  border-radius: 25px;
}

#level {
  top: 5px;
  left: 40px;
  background-color: rgb(200, 99, 247);
  border-radius: 25px;
}

#lives-container {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.life-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.life-icon.lost-life {
  animation: lostLifeAnimation 0.5s forwards;
}
@keyframes lostLifeAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
#sound-controls {
  position: fixed;
  bottom: 10px;
  top: 2px;
  left: 10px;
  z-index: 20;
}
.sound-toggle {
  width: 20px; /* Ajustez la taille selon vos besoins */
  height: 20px; /* Ajustez la taille selon vos besoins */
  border-radius: 25px;
  background-size: cover; /* Assurez-vous que l'image couvre le bouton */
  background-position: center; /* Centre l'image dans le bouton */
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease;
}

#sound-toggle:hover {
  background-color: #eda5e4;
}

.sound-toggle.sound-on {
  background-image: url("src/assets/icons/icons8-sound-64.png");
}
.sound-toggle.sound-off {
  background-image: url("src/assets/icons/mute.png");
}
#character {
  position: absolute;
  bottom: 2%; /* Positionne le personnage à une distance relative du bas */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  /*border: 2px solid blue;*/ /* Bordure temporaire pour débogage */
}

#character img {
  width: 15vw; /* Taille du personnage */
  max-width: 150px;
  height: auto;
}

#bottom-limit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px; /* Hauteur de la limite invisible */
  background-color: transparent; /* Invisible */
  pointer-events: none; /* Ignore les événements de la souris */
}

/* Media queries pour les petits écrans (portrait) */
@media (orientation: portrait) {
  #character img {
    width: 30vw; /* Ajusté pour les écrans en mode portrait */
    max-width: 150px;
  }

  .falling-object,
  .malus-object {
    width: 12vw; /* Ajusté pour les écrans en mode portrait */
    height: 12vw;
    max-width: 100px;
    max-height: 100px;
  }
}

/* Media queries pour les écrans en mode paysage */
@media (orientation: landscape) {
  #character img {
    width: 15vw; /* Ajusté pour les écrans en mode paysage */
    max-width: 150px;
  }

  .falling-object,
  .malus-object {
    width: 8vw; /* Ajusté pour les écrans en mode paysage */
    height: 8vw;
    max-width: 80px;
    max-height: 80px;
  }
}

/* Media queries pour les petits écrans (moins de 600px) */
@media (max-width: 600px) {
  #character img {
    width: 20vw; /* Ajusté pour les écrans plus petits */
    max-width: 120px;
  }

  .falling-object,
  .malus-object {
    width: 10vw; /* Ajusté pour les écrans plus petits */
    height: 10vw;
    max-width: 80px;
    max-height: 80px;
  }
}

/* Media queries pour les écrans larges (plus de 1024px) */
@media (min-width: 1024px) {
  #character img {
    width: 12vw; /* Réduit pour les grands écrans */
    max-width: 150px;
  }

  .falling-object,
  .malus-object {
    width: 8vw; /* Taille par défaut, peut être ajustée */
    height: 8vw;
    max-width: 80px;
    max-height: 80px;
  }
}
