html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("/src/assets/images/background 2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/*#background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assets/images/background 2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}*/

/*#game-container {
  border: 5px solid white;
  width: 80vw;
  max-width: 800px;
  height: 60vh;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: relative;
  overflow: hidden;
}*/

/*#game-area {
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
   background-color: transparent; /* Fond noir pour mieux voir les objets
 border: 2px solid green;  /*Bordure temporaire pour débogage 
}*/
#game-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;/* Assure que les objets tombants sont au-dessus */
  background-color: transparent;
  border: 2px solid red; /* Bordure temporaire pour débogage */
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 2em;
  color: rgb(200, 99, 247);
  position: fixed;
  top: 10px;
  width: 100%;
}

#score,
#level,
#lives {
  position: fixed;
  font-size: 1.2em;
  color: white;
  background-color: rgb(200, 99, 247);
  padding: 5px 10px;
}

#score {
  top: 50px;
  right: 10px;
}

#level {
  top: 50px;
  left: 10px;
}

#lives {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

#character {
  position: absolute;
  bottom: 2%; /* Positionne le personnage à une distance relative du bas */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border: 2px solid blue; /* Bordure temporaire pour débogage */
}

#character img {
  width: 20vw; /* Taille du personnage */
  max-width: 200px;
  height: auto;
}
/*.falling-object {
  position: absolute;  Doit être positionné absolument 
  width: 20px; /* Largeur visible 
  height: 20px; /* Hauteur visible 
  color: blueviolet;
  background-image: url("/src/assets/images/bonbon.jpg");
  background-size: cover;
  background-position: center;
  border: px solid white; /* Bordure pour une meilleure visibilité 
  z-index: 2; /* Assure que les objets sont au-dessus du canvas 
}*/

#bottom-limit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px; /* Hauteur de la limite invisible */
  background-color: black; /* Invisible */
  pointer-events: none; /* Ignore les événements de la souris */
}

/* Media Queries */
@media (max-width: 600px) {
  /*#game-container {
    width: 90vw;
    height: 70vh;
  }*/
  h1 {
    font-size: 1.5em;
  }
  #score,
  #level,
  #lives {
    width: 30vw;
  }
}
